---
import Card from "../components/ui/Card.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ted | Portfolio</title>
  </head>
  <body class="flex h-screen items-center justify-center bg-[#f9f9f9]">
    <div class="h-[600px] w-[800px] bg-[#e0e4e7] p-20">
      <div class="flex flex-row">
        <Card>UI</Card>
      </div>
    </div>
  </body>
</html>
