---
import Hello from "../components/Hello.astro";
import Socials from "../components/Socials.astro";
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ted | Portfolio</title>
  </head>
  <body class="mx-auto max-w-7xl bg-bkg text-content">
    <div class="grid grid-cols-12">
      <Hello />
      <Socials />
      <Socials />
    </div>
  </body>
</html>
