---
import Card from "./ui/Card.astro";
---

<Card classes="col-span-8">
  <h1 class="text-center text-4xl font-semibold">Hello 👋</h1>
  <h2 class="text-center text-2xl font-medium">
    This is my humble portfolio. I am a software developer currently in 🇸🇬
    Singapore. Let me build something exciting for you.
  </h2>
</Card>
