---
const { classes, ...rest } = Astro.props;
---

<div
  class:list={[
    "neu m-4 grid min-h-[300px] place-items-center rounded-3xl bg-bkg",
    classes,
  ]}
  {...rest}
>
  <slot />
</div>

<style>
  .neu {
    box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
  }
</style>
