---
---

<div
  class="neumorphic flex h-28 w-28 items-center justify-center rounded-3xl bg-[#e0e4e7] text-6xl font-bold"
>
  <slot />
</div>

<style>
  .neumorphic {
    box-shadow: 16px 16px 32px #bebebe, -16px -16px 32px #ffffff;
  }
</style>
